.brand-name {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.item {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.item span {
    margin-left: 20px;
}

.item:hover {
    cursor: pointer;
}

.icon span {
    margin-left: 30px;
}

.icon:hover {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 12px rgba(33, 24, 24, 0.686);
    background-color: rgb(5, 136, 141);
    color: whitesmoke;
    padding: 20px;
}

.brand {
    margin-top: 18px;
    padding: 10px;
    background-color: rgb(178, 189, 190);
    color: rgb(255, 2, 2);
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 10px;
    box-shadow: 0px 5px 10px black;
    border-radius: 5px;
    text-shadow: 2px 0px 3px rgb(34, 25, 25);
}

.men {
    background-image: url("../images/men.jpg");
    background-size: cover;
    width: 533px;
    height: 533px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.women {
    background-image: url("../images/women.jpg");
    background-size: cover;
    width: 533px;
    height: 533px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kids {
    background-image: url("../images/kid.jpg");
    background-size: cover;
    width: 533px;
    height: 533px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.model {
    display: flex;
}

.model {
    margin-top: 25px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: white;
    text-shadow: 0px 5px 8px black;
    margin-top: 300px;
}

button {
    background-color: rgb(255, 9, 9);
    color: rgb(255, 255, 255);
    padding: 10px;
    height: 35px;
    width: 120px;
    border: none;
}


.main {
        text-align: center;
        background-color: rgb(120, 120, 214);
        color: white;
        padding: 12px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .col {
        background-color: rgb(57, 57, 92);
        color: whitesmoke;
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
        padding: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    .title {
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: bold;
        font-family: Arial;
    }

    .col div {
        margin-bottom: 6px;
    }

   .social{
       background-color: rgb(57, 57, 92);
       color: whitesmoke;
       padding:0px 0px 10px 730px;
   }
   footer{
    margin-top: 10px;
   }